/log_unit_sort/log_a.jsonl
/log_unit_sort/log_b.jsonl
/log_generator.py
/TЗ.odt
/.idea/.gitignore
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/ТЗ Питон.iml
